@import "../../../variables";

$fret-height: 2rem;
$fret-string-width: 2rem;
$fret-string-padding: 0.5rem;

.guitarStrings {
  display: flex;
  background: $background-1;
  padding: 2rem;
  // font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.guitarString {
  color: $text-color;
}

.guitarStringHeader {
  // margin-bottom: 0.5rem;
  padding: 0.4rem;
  // border-bottom: 4px solid $border-color;
  background: $background-2;
}

.guitarStringFretWrapper {
  align-items: center;
  padding: $fret-string-padding;
  justify-content: center;
  border-bottom: 2px solid $border-color;
}

.guitarStringFret {
  width: $fret-string-width;
  height: $fret-height;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 1rem;
  border-radius: 1000px;
  // border: 2px solid transparent;

  &.isOpenString {
    // font-weight: bold;
    // border-color: $text-color;
    color: $maroon;
  }

  &.isHighlighted {
    background: $background-2;
  }

  &.isSelected {
    background: $maroon;
    color: white;
  }
}

.fretNumber {
  width: $fret-string-width;
  height: $fret-height;
  padding: $fret-string-padding;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  opacity: 0.5;
}
