@import "../../../variables";

.guitarStrings {
  display: flex;
  background: $background-1;
  padding: 2rem;
  // font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.guitarString {
  color: $text-color;
}

.guitarStringHeader {
  // margin-bottom: 0.5rem;
  padding: 0.4rem;
  // border-bottom: 4px solid $border-color;
  background: $background-2;
}

.guitarStringFretWrapper {
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  border-bottom: 2px solid $border-color;
}

.guitarStringFret {
  $size: 2rem;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 1rem;
  border-radius: 1000px;
  border: 2px solid transparent;

  &.isOpenString {
    font-weight: bold;
    border-color: $text-color;
  }

  &.isHighlighted {
    background: $background-2;
  }

  &.isSelected {
    background: $maroon;
    color: white;
  }
}
