@import "../../../variables";

.guitarStrings {
  display: flex;
  background: $background-1;
  padding: 2rem;
  font-size: 1.2em;
  font-weight: bold;
}

.guitarString {
  color: $text-color;
}

.guitarStringHeader {
  // margin-bottom: 0.5rem;
  padding: 0.4rem;
  // border-bottom: 4px solid $border-color;
  background: $background-2;
}

.guitarStringFretWrapper {
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  border-bottom: 2px solid $border-color;
}

.guitarStringFret {
  $size: 2rem;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 1rem;

  &.isHighlighted {
    background: $background-2;
  }
}
